@font-face {
    font-family: 'Orbitron-Bold';
    src: url('/src/fonts/orbitron-bold.woff') format(woff);
}

@font-face {
    font-family: 'Orbitron-Regular';
    src: url('/src/fonts/orbitron-regular.woff') format(woff);
}

html,
body {
    height: 100vh;
    width: 100vw;
}